*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: rgba(60, 101, 139, 0.508);
}
.nav{
    position: sticky;
    top: 0;
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
    background-color: black;
    color: white;
    z-index: 2; /* makes image or object to be above everything on the page*/
}
.nav .bars a{
   /* position: relative;*/
    /*left: 1030px;
    top: 30px;*/
    text-decoration-line: none;
    padding: 10px;
    font-size: 20px;
}
.nav p{
   /* position: relative;
    left: 100px;
    top: 30px;*/
    font-size: 60px;
    font-family: 'Brush Script MT';
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    background-color: black;
    height: 500px;
}
.container::before{
    width: 100%;
    height: 100%;
    content: " ";
    position: absolute;
    background-image: url('/Images/choir.jpg');
    opacity: 0.2;
}

.text{
   
    text-align: center;
    font-size: 60px;
    color: white;
}

.pic{
   
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px 0;
}

.pic1{
  display: flex;
  justify-content:center ;
  flex-direction: column;
  width: 380px;
  color: white;
  
  overflow: hidden;
}
.pic1 img{
    width: 100%;
    object-fit: cover;
    border: 10px solid white;
}
.pic1 p{
    text-align: center;
}



.end{
    background-color: rgb(13, 152, 212);
}
.end a{
    display: flex;
    justify-content: center;
    text-decoration-line: none;
}